<div>
<a href="#/" ng-click="authObj.$unauth()">Logout</a></br>
	<a href="#/addWtb" >Make a Want to Buy Ad</a>
  <a href="#/posts" >Make a Want to Buy Ad</a>
	<h1>Post</h1>
	<form ng-submit="postAdd()">
		<label for="item-name">Item Name</label>
		<input type="text" ng-model="item.name" placeholder="Search Here" id="item-name" autofocus>
		<label for="item-decription">Description</label>
		<input type="text" ng-model="item.description" placeholder="Search Here" id="item-description" autofocus>
		<label for="item-price">Price</label>
		<input type="text" ng-model="item.price" placeholder="Search Here" id="item-price" autofocus>
		<label for="item-location">Location</label>
		<input type="text" ng-model="item.location" placeholder="Search Here" id="item-location" autofocus>
		<button type="submit">submit</button>	
	</form>

</div>