<div>
	<h1>WTB</h1>
	<form ng-submit="WtbAdd()">
		<label for="wtb-name">Item Name</label>
		<input type="text" ng-model="wtb.name" placeholder="Search Here" id="wtb-name" autofocus>
		<label for="wtb-decription">Description</label>
		<input type="text" ng-model="wtb.description" placeholder="Search Here" id="wtb-description" autofocus>
		<label for="wtb-price">Price</label>
		<input type="text" ng-model="wtb.price" placeholder="Search Here" id="wtb-price" autofocus>
		<label for="wtb-location">Location</label>
		<input type="text" ng-model="wtb.location" placeholder="Search Here" id="wtb-location" autofocus>
		<button type="submit">submit</button>	
	</form>

</div>